# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
package.bat
*.zip

# Umgebung
venv/
.env
logs/
*.json
config/.env
config/ric_map.json
config/fs_api_token.json
tools/*

# VS Code
.vscode/

# PyInstaller Builds
build/
dist/
*.spec

# System
.DS_Store
Thumbs.db
